@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito+Sans&display=swap');

body {
    background: rgb(248, 250, 251);
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    width: auto;
}

.container {
    width: 100%;
    gap: 20px;
    padding: 20px;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 auto;
    display: grid;
    /* border: 2px black solid; */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 2vw; */
}

.item img {
    border-radius: 23px 23px 0 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
    /* border: 8px solid #fff; */
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.item {
    transition: transform 0.25s;
}

.item:hover {
    transform: scale(1.1);
}

.item {
    max-width: 350px;
    background: #fff;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 20px;
    padding: 10px;
    gap: 3px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
}

a:active,
a:link,
a:visited {
    text-decoration: none;
    color: rgb(95, 111, 129);
}

a:hover {
    color: rgb(75, 85, 94);
    text-decoration: underline;
}

h1 {
    color: #424242;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 25px;
    text-align: center;
}

h2 {
    color: #424242;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 10px;
    position: relative;
    z-index: 1;
    margin: 0 0 5px;
    display: inline-block;
}

.moto {
    display: block;
    margin: 0 auto;
    width: 350px;
    /* border: 2px solid black; */
    text-align: center;
}

h2:after {
    display: inline-block;
    position: absolute;
    content: "";
    background: #4db6acc3;
    height: 5px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 5px;
    z-index: -1;
}

h3,
h4 {
    font-size: 18px;
    color: #424242;
    text-align: center;
    letter-spacing: 2px;
}

.item-content {
    padding: 5px 0 0;
}

.item-content a {
    width: 100%;
    padding-top: 30px;
    text-align: center;
    display: block;
}

.about {
    border: 1px solid rgb(238, 238, 238);
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: justify;
    /* margin-left: auto;
    margin-right: auto; */
}



.two-columns {
    display: grid;
    grid-template: 100% / 35% 65%;
    gap: 3px;
}

li {
    list-style-type: square;
}